{% extends "users/layout.html" %}
{% block body %}


<main role="main" class="container">
  <div class="row ml-2 mt-5">
    <div class="col">
      <ul class="list-group list-group-flush">
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <li class="list-group-item"><h2>Abhishek Agarwal</h2></li>
        <li class="list-group-item">Email - abhishek.agarwal.cse19@itbhu.ac.in</li>
        <li class="list-group-item">Roll No. - 19075001</li>
        <li class="list-group-item">Branch - Computer Science and Engineering (B-Tech)</li>
      </div>
      </ul>
    </div>
    <div class="col col-lg-6">
      <ul class="list-group list-group-flush">
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <li class="list-group-item"><h2>Ritik Goyal</h2></li>
        <li class="list-group-item">Email - ritik.goyal.cse19@itbhu.ac.in</li>
        <li class="list-group-item">Roll No. - 19074012</li>
        <li class="list-group-item">Branch - Computer Science and Engineering (IDD)</li>
        <!--{%for problem in submissions%}
        <li class="list-group-item">{{problem.name}}</li>
        {%empty%}
        <li class="list-group-item">No problems solved</li>
        {%endfor%}-->
      </div>
      </ul>
    </div>
  </div>
</main>

<main role="main" class="container">
  <div class="row ml-2 mt-2">
    <div class="col">
      <ul class="list-group list-group-flush">
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <li class="list-group-item"><h2>Sharabh Agrawal</h2></li>
        <li class="list-group-item">Email - sharabh.agrawal.cse19@itbhu.ac.in</li>
        <li class="list-group-item">Roll No. - 19075068</li>
        <li class="list-group-item">Branch - Computer Science and Engineering (B-Tech)</li>
      </div>
      </ul>
    </div>
    <div class="col col-lg-6">
      <ul class="list-group list-group-flush">
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <li class="list-group-item"><h2>Roshan Jain</h2></li>
        <li class="list-group-item">Email - roshan.jain.cse19@itbhu.ac.in</li>
        <li class="list-group-item">Roll No. - 19074013</li>
        <li class="list-group-item">Branch - Computer Science and Engineering (IDD)</li>
        <!--{%for problem in submissions%}
        <li class="list-group-item">{{problem.name}}</li>
        {%empty%}
        <li class="list-group-item">No problems solved</li>
        {%endfor%}-->
      </div>
      </ul>
    </div>
  </div>
</main>


{% endblock %}