{% extends "users/layout.html" %}
{% block body %}


<main class="container mt-5">
<h5><b>Present Works</b></h5>
<table class="table table-hover w-100">
    <thead class="thead-dark">
      <tr>
        <th scope="col-auto">#</th>
        <th scope="col-auto">NAME</th>
        <th scope="col">START</th>
        <th scope="col-auto mr-auto">END</th>
      </tr>
    </thead>
    <tbody>
      {% for contest in contests %}
      {%if contest.start_time.date == cur_date.date%} 
      <tr>
        <th scope="row">{{contest.id}}</th>
        <td><a href="{% url 'contest_page' contest.id %}" style="color: black;">{{contest.name}}</a></td>
        <td>{{contest.start_time.date}}<br>{{contest.start_time.time}}</td>
        <td>{{contest.end_time.date}}<br>{{contest.end_time.time}}</td>
      </tr>
      {%endif%}
      {% endfor %}

    </tbody>
  </table>

<div class="mt-4">
<h5><b>Future Works</b></h5>
<table class="table table-hover w-100">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">NAME</th>
        <th scope="col">START</th>
        <th scope="col">END</th>
    </tr>
    </thead>
    <tbody>
    {% for contest in contests %}
    {%if contest.start_time.date > cur_date.date%}
      <tr>
        <th scope="row">{{contest.id}}</th>
        <td><a href="{% url 'contest_page' contest.id %}" style="color: black;">{{contest.name}}</a></td>
        <td>{{contest.start_time.date}}<br>{{contest.start_time.time}}</td>
        <td>{{contest.end_time.date}}<br>{{contest.end_time.time}}</td>
      </tr>
    {%endif%}
    {% endfor %}
    </tbody>
</table>
</div>

<div class="mt-4 mb-4">
<h5><b>Past Works</b></h5>
<table class="table table-hover w-100">
    <thead class="thead-dark">
        <tr>
        <th scope="col">#</th>
        <th scope="col">NAME</th>
        <th scope="col">START</th>
        <th scope="col">END</th>
        </tr>
    </thead>
    <tbody>
    {% for contest in contests %}
      {%if contest.start_time.date < cur_date.date%}
        <tr>
        <th scope="row">{{contest.id}}</th>
        <td><a href="{% url 'contest_page' contest.id %}" style="color: black;">{{contest.name}}</a></td>
        <td>{{contest.start_time.date}}<br>{{contest.start_time.time}}</td>
        <td>{{contest.end_time.date}}<br>{{contest.end_time.time}}</td>
        </tr>
      {%endif%}
    {% endfor %}
    </tbody>
    </table>
    </div>
</main> 

{% endblock %}