{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        
        <title>{{ page_name }}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">    
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="{% static 'users/styles.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
        
    </head>
    <body>
        <header>
            <a class="logo" href="https://iitbhu.ac.in/"><img src="{% static 'users/logo10.png' %}" alt="logo"></a>
            <nav>
                <ul class="nav__links">
                    <li><a href="#">Practice</a></li>
                    <li><a href="{% url 'lab_works' %}">Lab works</a></li>
                    <li><a href="{% url 'tutorial' %}">Tutorial</a></li>
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                </ul>
            </nav>
            <a class="cta" href="{% url 'logout' %}">Log out</a>
            <p class="menu cta">Menu</p>
        </header>
        <div id="mobile__menu" class="overlay">
            <a class="close">&times;</a>
            <div class="overlay__content">
                  <a href="#">Practice</a>
                  <a href="{% url 'lab_works' %}">Lab works</a>
                  <a href="{% url 'tutorial' %}">Tutorial</a>
                  <a href="{% url 'profile' %}">Profile</a>
                  <a href="{% url 'logout' %}">Log out</a>
            </div>
        </div>
        <script type="text/javascript" src="{% static 'users/mobile.js' %}"></script>

        {% block body %}
        {% endblock %}

        <footer>
            <nav>
                <ul class="nav__links1">
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Mentors</a></li>
                </ul>
            </nav>
        </footer>
        
    </body>
</html>
