{% extends "users/layout.html" %}
{% block body %}


<main role="main" class="container">
  <div class="row ml-2 mt-5">
    <div class="col">
      <ul class="list-group list-group-flush">
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <li class="list-group-item"><h2>S K Singh</h2></li>
        <li class="list-group-item">Email - sks.cse@iitbhu.ac.in</li>
        <li class="list-group-item">Phone - 9554321133</li>
        <li class="list-group-item">Subjects Taught - Data Structure and Algorithms, Computer System Organization, Artificial Intelligence, Operating system, Computer Networks and Programming in C/C++.</li>
        <li class="list-group-item">Area of Interest - Image and Video Processing, Pattern Recognition, Machine Learning, Deep Learning, Data Science, Medical Imaging, Quantum Neural Networks and Biometrics.-</li>
      </div>
      </ul>
    </div>
    <div class="col col-lg-6">
      <ul class="list-group list-group-flush">
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
       <li class="list-group-item"><h2>S K Singh</h2></li>
        <li class="list-group-item">Email - sks.cse@iitbhu.ac.in</li>
        <li class="list-group-item">Phone - 9554321133</li>
        <li class="list-group-item">Subjects Taught - Data Structure and Algorithms, Computer System Organization, Artificial Intelligence, Operating system, Computer Networks and Programming in C/C++.</li>
        <li class="list-group-item">Area of Interest - Image and Video Processing, Pattern Recognition, Machine Learning, Deep Learning, Data Science, Medical Imaging, Quantum Neural Networks and Biometrics.-</li>
        <!--{%for problem in submissions%}
        <li class="list-group-item">{{problem.name}}</li>
        {%empty%}
        <li class="list-group-item">No problems solved</li>
        {%endfor%}-->
      </div>
      </ul>
    </div>
  </div>
</main>

<main role="main" class="container">
  <div class="row ml-2 mt-2">
    <div class="col">
      <ul class="list-group list-group-flush">
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <li class="list-group-item"><h2>S K Singh</h2></li>
        <li class="list-group-item">Email - sks.cse@iitbhu.ac.in</li>
        <li class="list-group-item">Phone - 9554321133</li>
        <li class="list-group-item">Subjects Taught - Data Structure and Algorithms, Computer System Organization, Artificial Intelligence, Operating system, Computer Networks and Programming in C/C++.</li>
        <li class="list-group-item">Area of Interest - Image and Video Processing, Pattern Recognition, Machine Learning, Deep Learning, Data Science, Medical Imaging, Quantum Neural Networks and Biometrics.-</li>
      </div>
      </ul>
    </div>
    <div class="col col-lg-6">
      <ul class="list-group list-group-flush">
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
       <li class="list-group-item"><h2>S K Singh</h2></li>
        <li class="list-group-item">Email - sks.cse@iitbhu.ac.in</li>
        <li class="list-group-item">Phone - 9554321133</li>
        <li class="list-group-item">Subjects Taught - Data Structure and Algorithms, Computer System Organization, Artificial Intelligence, Operating system, Computer Networks and Programming in C/C++.</li>
        <li class="list-group-item">Area of Interest - Image and Video Processing, Pattern Recognition, Machine Learning, Deep Learning, Data Science, Medical Imaging, Quantum Neural Networks and Biometrics.-</li>
      </div>
      </ul>
    </div>
  </div>
</main>


{% endblock %}