{% extends "users/layout.html" %}
{% block body %}

<aside class="col-md-11 blog-sidebar">

<div class="mt-5">
  <div class="mr-0">
    <div class="float-right">
      <div class="card border-info mb-3" style="max-width: 18rem;">
        <div class="card-header">Notification</div>
        <div class="card-body text-info">
          <h5 class="card-title">Heading / Title </h5>
          <p class="card-text">Write the contents here for example the notifications , contests , submission , etc.</p>
        </div>
      </div>
      <div class="card border-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Upcoming Contests</div>
        <div class="card-body text-primary">
          <h5 class="card-title">Heading / Title</h5>
          <p class="card-text">Write the contents here for example the notifications , contests , submission , etc.</p>
        </div>
      </div>
      <div class="card border-success mb-3" style="max-width: 18rem;">
        <div class="card-header">Recent submissions</div>
        <div class="card-body text-success">
          <h5 class="card-title">Heading / Title</h5>
          <p class="card-text">Write the contents here for example the notifications , contests , submission , etc.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</aside>

<main role="main" class="container">
<ul class="list-group">
<div class="mr-5">
{%for question in questions%}
{% if question.submissions.verdict == "Correct Answer!!"%}
  <a href="{% url 'problem_statement' question.id%}" class="list-group-item list-group-item-success">{{question.name}}</a>
{%elif question.submissions.verdict|truncatechars:5 == "Wrong"%}
  <a href="{% url 'problem_statement' question.id%}" class="list-group-item list-group-item-danger">{{question.name}}</a>
{%else%}
 <a href="{% url 'problem_statement' question.id%}" class="list-group-item list-group-item-secondary">{{question.name}}</a>
{%endif%}
{%endfor%}
</div>
</ul>
</main>


{% endblock %}