{% extends "users/layout.html" %}
{% block body %}

<aside class="col-md-11 blog-sidebar"> 

<div class="mt-5">
  <div class="mr-0">
    <div class="float-right">
      <div class="card border-info mb-3" style="max-width: 18rem;">
        <div class="card-header">problem tags</div>
        <div class="card-body text-info">
         <!-- <h5 class="card-title">Heading / Title</h5> -->
          <div class="card-text">
          <ul>
          <li> dfs
          <li> segment tree
          </ul>
          </div>
        </div>
      </div>
      <div class="card border-success mb-3" style="max-width: 18rem;">
        <div class="card-header">Lab #1 - Material</div>
        <div class="card-body text-success">
          <!--<h5 class="card-title">Heading / Title</h5>-->
          <p class="card-text">Tutorial</p>
        </div>
      </div>
    </div>
  </div>
</div>
</aside>






<main role="main" class="container">
  <div class="row">
    <div class="col-md-11 blog-main">
    <!--
      <h3 class="pb-4 mb-4 font-italic border-bottom">
        B. Adding Numbers
      </h3>
    </div>-->

      <div class="blog-post">
      <div class="mx-auto" style="width: 300px;">
        <h2 class="blog-post-title">B. Adding Numbers</h2>
        <!--<p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>-->
        <br>
      </div>
        <!--<p>This blog post shows a few different types of content that’s supported and styled with Bootstrap. Basic typography, images, and code are all supported.</p>
        <hr>-->
        <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
        <blockquote>
          <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </blockquote>
        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
        
        <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
        <h3>Sample Input</h3>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        <pre><code>Example code block</code></pre>
        <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
        <h3>Sample Output</h3>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <div class="mx-auto" style="width: 100px;">
        <a href="{% url 'submit' %}"><button type="button" class="btn btn-primary btn-lg">Submit</button></a>
        </div>
      </div>
    </div>
  </div>
</main>



{% endblock %}