{% extends "users/layout.html" %}
{% block body %}
<main role="main" class="container">
    <div class="row ml-8 mt-5">
      <div class="col">
        <ul class="list-group list-group-flush">
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
          <li class="list-group-item"><h2>{{user.first_name}} {{user.last_name}}</h2></li>
          <li class="list-group-item">Email - {{user.username}}</li>
          <!-- <li class="list-group-item">Roll No. - 19075001</li> -->
          <li class="list-group-item">Branch - </li>
          <li class="list-group-item">Year - </li>
        </div>
        </ul>
      </div>
      
      <div class="col col-lg-5">
        <ul class="list-group list-group-flush">
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
          <li class="list-group-item"><h2 style="text-align: center;">{{tot_sub}}</h2></li>
          <li class="list-group-item"><h6 style="text-align: center;">Submissions</h6></li>
          <div class="container" >
            <canvas id="myChart1" style="max-width: 500px;"></canvas>
        </div>
        
        <script>
            var ctx1 = document.getElementById("myChart1").getContext('2d');
            var myChart1 = new Chart(ctx1, {
            type: 'pie',
            data: {
            labels: ["WA", "RE", "AC", "TLE"],
            datasets: [{
            label: 'Submissions',
            data: [{{data.incorrect}}, {{data.runtime}}, {{data.correct}}, {{data.timelimit}}],
            backgroundColor: [
            'rgb(255, 60, 0)',
            'rgb(229, 255, 0)',
            'rgb(21, 255, 0)',
            ],
            borderWidth:1,
            borderColor:'#777',
            hoverBorderWidth:2,
            hoverBorderColor:'#000'
            }]
            },
            options:{
                title:{
                   display:true,
                   text:'Submissions',
                   fontSize:15
                },
                legend:{
                    display:true,
                    position:'bottom',
                    fontSize: 5
                },
                layout:{
                    padding:{
                        left:0,
                        right:0,
                        bottom:0,
                        top:0
                    }
                }
            }
            });
        </script>
        </div>
        </ul>
      </div>
    </div>
  </main>

  <main role="main" class="container">
    <div class="row ml-8 mt-2">
      <div class="col">
        <ul class="list-group list-group-flush">
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
            <div class="container">
                <canvas id="myChart" style="max-width: 500px;"></canvas>
            </div>
            <script>
                var ctx = document.getElementById("myChart").getContext('2d');
                var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                labels: [
                    {% for tn in tag_names %}
                        '{{tn}}',
                    {% endfor %}
                ],
                datasets: [{
                data: [
                    {% for tv in tag_values %}
                        {{tv}},
                    {% endfor %}
                ],
                backgroundColor: [
                'rgb(255, 60, 0)',
                'rgb(229, 255, 0)',
                'rgb(21, 255, 0)',
                'chocolate',
                'rgb(63, 30, 210)',
                'rgb(210, 30, 165)'
                ],
                borderWidth:1,
                borderColor:'#777',
                hoverBorderWidth:3,
                hoverBorderColor:'#000'
                }]
                },
                options:{
                    title:{
                       display:true,
                       text:'Submission Analysis',
                       fontSize:15
                    },
                    legend:{
                        display:false,
                        position:'bottom',
                    },
                    layout:{
                        padding:{
                            left:0,
                            right:0,
                            bottom:0,
                            top:0
                        }
                    }
                }
                });
            </script>
        </div>
        </ul>
      </div>
      
      <div class="col col-lg-4">
        <ul class="list-group list-group-flush">
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
          <li class="list-group-item"><h4>Recent Submissions</h4></li>
          <!-- <li class="list-group-item">Adding squares</li>
          <li class="list-group-item">problem 1</li>
          <li class="list-group-item">problem 1 </li>
          <li class="list-group-item">problem 1</li> -->
          {% for problem in submissions %}
            <li class="list-group-item">{{problem.ques}} {{problem.verdict}}</li>
          {% empty %}
            <li class="list-group-item">No problems solved</li>
          {% endfor %}
        </div>
        </ul>
      </div>
    </div>
  </main>
{% endblock %}

