{% extends "users/layout.html" %}
{% block body %}

<aside class="col-md-11 blog-sidebar">

  <div class="mt-5">
    <div class="mr-0">
      <div class="float-right">
        <div class="card border-info mb-3" style="max-width: 18rem;">
          <div class="card-header">Notification</div>
          <div class="card-body text-info">
            {% if notifications.isnull %}
              <h5 class="card-title"> No notifications </h5>
            {% else %}
              {% for notification in notifications %}
                {% if notification != "isnull" %}
                  <h5 class="card-title"> {{notification}}</h5>
                {% endif %}
              {% endfor %}
            {% endif %}
            <!-- <p class="card-text">Write the contents here for example the notifications , contests , submission , etc.</p> -->
          </div>
        </div>
        <!-- <div class="card border-primary mb-3" style="max-width: 18rem;">
          <div class="card-header">Upcoming Contests</div>
          <div class="card-body text-primary">
            <h5 class="card-title">Heading / Title</h5>
            <p class="card-text">Write the contents here for example the notifications , contests , submission , etc.</p>
          </div>
        </div> -->
        <div class="card border-success mb-3" style="max-width: 18rem;">
          <div class="card-header">Recent submissions</div>
          <div class="card-body text-success">
            {% if not recent_subs %}
              <h5 class="card-title">No submissions yet...</h5>
            {% else %}
              {% for sub in recent_subs %}
                <p class="card-title">{{ sub.ques }}   {{sub.verdict}}</p>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  </aside>


    <div class="list-group">
        <div class="ml-5 pl-5">
        <div class="mr-5">
        {% for blog in blogs%}
        <a href="{% url 'blog' blog.id %}" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><b>Lab Number #{{ blog.contest.id }} Tutorial</b></h5>
            <small><i>{{ blog.date }} {{blog.timestamp}}</i></small>
          </div>
          <p class="mb-1">{{ blog.statement|truncatewords:10 }}</p>
          <small><i>{{ blog.contest.name }}</i></small>
        </a>
      {% endfor %}
      </div>
    </div>
    </div>

{% endblock %}
